<a href="https://colab.research.google.com/github/banduguide/InsaidTelecomData/blob/master/Capstone_project_ulka.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Import Pandas
import pandas as pd

# Import Numpy
import numpy as np

# Import scipy
from scipy import stats as st

# Import warnings
import warnings 
warnings.filterwarnings('ignore')

# Import pyplot from matplotlib as plt
import matplotlib.pyplot as plt
%matplotlib inline

# Provides a high level interface for drawing attractive and informative statistical graphics
import seaborn as sns                                              
sns.set()
from subprocess import check_output

# Import Bokeh
from bokeh.plotting import figure, output_file, show
from bokeh.palettes import d3
from bokeh.io import output_notebook
from bokeh.models import Legend
output_notebook()

In [3]:
pip install MySQL-connector-python

Requirement already satisfied: MySQL-connector-python in /usr/local/lib/python3.6/dist-packages (8.0.19)
Requirement already satisfied: dnspython==1.16.0 in /usr/local/lib/python3.6/dist-packages (from MySQL-connector-python) (1.16.0)
Requirement already satisfied: protobuf==3.6.1 in /usr/local/lib/python3.6/dist-packages (from MySQL-connector-python) (3.6.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from protobuf==3.6.1->MySQL-connector-python) (1.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf==3.6.1->MySQL-connector-python) (45.1.0)

In [15]:
from pydrive.drive import GoogleDrive
from pydrive.auth import GoogleAuth
from oauth2client.client import GoogleCredentials
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
from google.colab import auth
auth.authenticate_user()
myfile = drive.CreateFile({'id': '1pnFGD8DjwrEvUCt_Oc7QsNQ62fLdBHLj'})
myfile.GetContentFile('data_event.csv')

ApplicationDefaultCredentialsError: ignored

In [16]:
# Load the datevent_data = pd.read_csv("Data/events_data.csv", sep = ",")a
event_data = pd.read_csv("Data/events_data.csv", sep = ",")

FileNotFoundError: ignored

In [6]:
import mysql.connector
from mysql.connector import errorcode
from pandas import DataFrame


config = {
  'user': 'student',
  'password': 'student',
  'host': 'cpanel.insaid.co',
  'database': 'Capstone1',
  'raise_on_warnings': True
}

try:
  cnx = mysql.connector.connect(**config)
  print("success",cnx)
  gender_age_train_querystr = "select * from gender_age_train "
  phone_brand_device_model_querystr =   "select * from phone_brand_device_model "
  cursor = cnx.cursor()
  cursor.execute(gender_age_train_querystr)
  gender_age_train =pd.DataFrame(cursor.fetchall(), columns=['device_id','gender','age','age_group'])

  cursor.execute(phone_brand_device_model_querystr)
  phone_brand_device_model = pd.DataFrame(cursor.fetchall(), columns=['device_id','brand','phone_brand'])


except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)

else:
  cnx.close()

success <mysql.connector.connection_cext.CMySQLConnection object at 0x7f70eb4fe438>

In [7]:
gender_age_train.head()

             device_id gender  age age_group
0 -8076087639492063270      M   35    M32-38
1 -2897161552818060146      M   35    M32-38
2 -8260683887967679142      M   35    M32-38
3 -4938849341048082022      M   30    M29-31
4   245133531816851882      M   30    M29-31

In [8]:
gender_age_train.describe(include='all')

           device_id gender           age age_group
count   7.464500e+04  74645  74645.000000     74645
unique           NaN      2           NaN        12
top              NaN      M           NaN    M23-26
freq             NaN  47904           NaN      9605
mean   -7.491354e+14    NaN     31.410342       NaN
std     5.327150e+18    NaN      9.868735       NaN
min    -9.223067e+18    NaN      1.000000       NaN
25%    -4.617367e+18    NaN     25.000000       NaN
50%    -1.841362e+16    NaN     29.000000       NaN
75%     4.636656e+18    NaN     36.000000       NaN
max     9.222849e+18    NaN     96.000000       NaN

In [9]:
phone_brand_device_model.head()

             device_id brand phone_brand
0  1877775838486905855  vivo         Y13
1 -3766087376657242966    小米        V183
2 -6238937574958215831  OPPO         R7s
3  8973197758510677470    三星       A368t
4 -2015528097870762664    小米     红米Note2

In [10]:
phone_brand_device_model.shape

(87726, 3)

In [11]:
phone_brand_device_model.describe(include='all')

           device_id  brand phone_brand
count   8.772600e+04  87726       87726
unique           NaN    116        1467
top              NaN     小米      红米note
freq             NaN  21645        3500
mean   -5.212557e+15    NaN         NaN
std     5.330157e+18    NaN         NaN
min    -9.223322e+18    NaN         NaN
25%    -4.623331e+18    NaN         NaN
50%    -3.109802e+16    NaN         NaN
75%     4.635194e+18    NaN         NaN
max     9.222849e+18    NaN         NaN

In [0]:

gender_age_phone_brand_device_model_df = pd.merge(gender_age_train,phone_brand_device_model, on = 'device_id')

In [13]:
gender_age_phone_brand_device_model_df.describe(include='all')

           device_id gender           age age_group  brand phone_brand
count   7.461700e+04  74617  74617.000000     74617  74617       74617
unique           NaN      2           NaN        12    111        1427
top              NaN      M           NaN    M23-26     小米      红米note
freq             NaN  47884           NaN      9598  18399        2998
mean   -1.196826e+15    NaN     31.410992       NaN    NaN         NaN
std     5.327107e+18    NaN      9.869512       NaN    NaN         NaN
min    -9.223067e+18    NaN      1.000000       NaN    NaN         NaN
25%    -4.617785e+18    NaN     25.000000       NaN    NaN         NaN
50%    -1.845883e+16    NaN     29.000000       NaN    NaN         NaN
75%     4.635530e+18    NaN     36.000000       NaN    NaN         NaN
max     9.222849e+18    NaN     96.000000       NaN    NaN         NaN

In [14]:
gender_age_phone_brand_device_model_df.shape

(74617, 6)